## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
value_counts = application_df['APPLICATION_TYPE'].value_counts()
value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(value_counts[value_counts<500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
counts_binning = application_df['CLASSIFICATION'].value_counts()
counts_binning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_classification = counts_binning[counts_binning>1]
counts_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (counts_binning[counts_binning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len( X_train_scaled[0])
hidden_nodes_layer1=4
hidden_nodes_layer2=8
hidden_nodes_layer3=16

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_features, activation='relu'))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))


# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 4)                 200

 dense_4 (Dense)             (None, 8)                 40

 dense_5 (Dense)             (None, 1)                 9

=================================================================
Total params: 249
Trainable params: 249
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 4s 4ms/step - loss: 0.6246 - accuracy: 0.6656 - val_loss: 0.5804 - val_accuracy: 0.7124
Epoch 2/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5794 - accuracy: 0.7078 - val_loss: 0.5653 - val_accuracy: 0.7266
Epoch 3/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5692 - accuracy: 0.7174 - val_loss: 0.5595 - val_accuracy: 0.7305
Epoch 4/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5641 - accuracy: 0.7207 - val_loss: 0.5575 - val_accuracy: 0.7276
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5612 - accuracy: 0.7200 - val_loss: 0.5547 - val_accuracy: 0.7289
Epoch 6/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5594 - accuracy: 0.7222 - val_loss: 0.5537 - val_accuracy: 0.7313
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5583 - accuracy: 0.7256 - val_loss: 0.5527 - val_accuracy: 0.7328
Epoch 8/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5574 - accuracy: 0.7265 - val_loss: 0.5524 - val_accuracy: 0.7318
Epoch 9/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5569 - accuracy: 0.7272 - val_loss: 0.5512 - val_accuracy: 0.7331
Epoch 10/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5565 - accuracy: 0.7268 - val_loss: 0.5522 - val_accuracy: 0.7341
Epoch 11/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5561 - accuracy: 0.7267 - val_loss: 0.5504 - val_accuracy: 0.7339
Epoch 12/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7273 - val_loss: 0.5508 - val_accuracy: 0.7349
Epoch 13/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7275 - val_loss: 0.5511 - val_accuracy: 0.7331
Epoch 14/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5539 - accuracy: 0.7289 - val_loss: 0.5502 - val_accuracy: 0.7334
Epoch 15/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5537 - accuracy: 0.7282 - val_loss: 0.5520 - val_accuracy: 0.7310
Epoch 16/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7284 - val_loss: 0.5501 - val_accuracy: 0.7315
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5533 - accuracy: 0.7284 - val_loss: 0.5501 - val_accuracy: 0.7341
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5529 - accuracy: 0.7294 - val_loss: 0.5518 - val_accuracy: 0.7349
Epoch 19/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7280 - val_loss: 0.5499 - val_accuracy: 0.7354
Epoch 20/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5525 - accuracy: 0.7282 - val_loss: 0.5487 - val_accuracy: 0.7331
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5524 - accuracy: 0.7292 - val_loss: 0.5486 - val_accuracy: 0.7341
Epoch 22/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7288 - val_loss: 0.5496 - val_accuracy: 0.7336
Epoch 23/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7289 - val_loss: 0.5494 - val_accuracy: 0.7334
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5522 - accuracy: 0.7282 - val_loss: 0.5491 - val_accuracy: 0.7326
Epoch 25/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5521 - accuracy: 0.7288 - val_loss: 0.5496 - val_accuracy: 0.7310
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5515 - accuracy: 0.7299 - val_loss: 0.5493 - val_accuracy: 0.7326
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7298 - val_loss: 0.5480 - val_accuracy: 0.7336
Epoch 28/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5517 - accuracy: 0.7292 - val_loss: 0.5499 - val_accuracy: 0.7323
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5513 - accuracy: 0.7298 - val_loss: 0.5487 - val_accuracy: 0.7336
Epoch 30/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5514 - accuracy: 0.7295 - val_loss: 0.5487 - val_accuracy: 0.7323
Epoch 31/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7288 - val_loss: 0.5488 - val_accuracy: 0.7344
Epoch 32/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7292 - val_loss: 0.5487 - val_accuracy: 0.7323
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7288 - val_loss: 0.5485 - val_accuracy: 0.7323
Epoch 34/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5510 - accuracy: 0.7294 - val_loss: 0.5484 - val_accuracy: 0.7326
Epoch 35/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5511 - accuracy: 0.7300 - val_loss: 0.5489 - val_accuracy: 0.7318
Epoch 36/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7293 - val_loss: 0.5489 - val_accuracy: 0.7323
Epoch 37/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7302 - val_loss: 0.5473 - val_accuracy: 0.7323
Epoch 38/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5507 - accuracy: 0.7305 - val_loss: 0.5491 - val_accuracy: 0.7321
Epoch 39/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7293 - val_loss: 0.5510 - val_accuracy: 0.7289
Epoch 40/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7298 - val_loss: 0.5477 - val_accuracy: 0.7341
Epoch 41/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7297 - val_loss: 0.5485 - val_accuracy: 0.7326
Epoch 42/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5505 - accuracy: 0.7293 - val_loss: 0.5497 - val_accuracy: 0.7344
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7297 - val_loss: 0.5480 - val_accuracy: 0.7328
Epoch 44/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7304 - val_loss: 0.5490 - val_accuracy: 0.7336
Epoch 45/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7304 - val_loss: 0.5480 - val_accuracy: 0.7331
Epoch 46/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7286 - val_loss: 0.5479 - val_accuracy: 0.7326
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7292 - val_loss: 0.5474 - val_accuracy: 0.7344
Epoch 48/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7292 - val_loss: 0.5488 - val_accuracy: 0.7341
Epoch 49/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5502 - accuracy: 0.7308 - val_loss: 0.5481 - val_accuracy: 0.7341
Epoch 50/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5501 - accuracy: 0.7301 - val_loss: 0.5480 - val_accuracy: 0.7318
Epoch 51/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7296 - val_loss: 0.5479 - val_accuracy: 0.7326
Epoch 52/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7311 - val_loss: 0.5484 - val_accuracy: 0.7318
Epoch 53/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7307 - val_loss: 0.5472 - val_accuracy: 0.7323
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7308 - val_loss: 0.5470 - val_accuracy: 0.7334
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7304 - val_loss: 0.5468 - val_accuracy: 0.7328
Epoch 56/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5501 - accuracy: 0.7296 - val_loss: 0.5465 - val_accuracy: 0.7346
Epoch 57/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7292 - val_loss: 0.5462 - val_accuracy: 0.7346
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7303 - val_loss: 0.5489 - val_accuracy: 0.7321
Epoch 59/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7310 - val_loss: 0.5477 - val_accuracy: 0.7326
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7302 - val_loss: 0.5483 - val_accuracy: 0.7331
Epoch 61/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7303 - val_loss: 0.5492 - val_accuracy: 0.7326
Epoch 62/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7305 - val_loss: 0.5476 - val_accuracy: 0.7328
Epoch 63/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5498 - accuracy: 0.7306 - val_loss: 0.5475 - val_accuracy: 0.7326
Epoch 64/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7308 - val_loss: 0.5480 - val_accuracy: 0.7326
Epoch 65/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7303 - val_loss: 0.5502 - val_accuracy: 0.7339
Epoch 66/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7297 - val_loss: 0.5479 - val_accuracy: 0.7334
Epoch 67/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7311 - val_loss: 0.5472 - val_accuracy: 0.7328
Epoch 68/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7301 - val_loss: 0.5495 - val_accuracy: 0.7331
Epoch 69/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7313 - val_loss: 0.5480 - val_accuracy: 0.7315
Epoch 70/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5498 - accuracy: 0.7297 - val_loss: 0.5477 - val_accuracy: 0.7334
Epoch 71/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7307 - val_loss: 0.5480 - val_accuracy: 0.7321
Epoch 72/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7308 - val_loss: 0.5468 - val_accuracy: 0.7336
Epoch 73/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7296 - val_loss: 0.5483 - val_accuracy: 0.7341
Epoch 74/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7311 - val_loss: 0.5471 - val_accuracy: 0.7328
Epoch 75/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7304 - val_loss: 0.5478 - val_accuracy: 0.7344
Epoch 76/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7306 - val_loss: 0.5494 - val_accuracy: 0.7308
Epoch 77/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5495 - accuracy: 0.7308 - val_loss: 0.5471 - val_accuracy: 0.7328
Epoch 78/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7317 - val_loss: 0.5491 - val_accuracy: 0.7339
Epoch 79/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7295 - val_loss: 0.5474 - val_accuracy: 0.7328
Epoch 80/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7304 - val_loss: 0.5482 - val_accuracy: 0.7318
Epoch 81/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7305 - val_loss: 0.5505 - val_accuracy: 0.7326
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7308 - val_loss: 0.5510 - val_accuracy: 0.7349
Epoch 83/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7298 - val_loss: 0.5498 - val_accuracy: 0.7339
Epoch 84/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5497 - accuracy: 0.7301 - val_loss: 0.5475 - val_accuracy: 0.7331
Epoch 85/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7314 - val_loss: 0.5488 - val_accuracy: 0.7331
Epoch 86/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7305 - val_loss: 0.5488 - val_accuracy: 0.7328
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7307 - val_loss: 0.5477 - val_accuracy: 0.7331
Epoch 88/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7305 - val_loss: 0.5478 - val_accuracy: 0.7349
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7299 - val_loss: 0.5479 - val_accuracy: 0.7328
Epoch 90/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7310 - val_loss: 0.5488 - val_accuracy: 0.7289
Epoch 91/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5497 - accuracy: 0.7291 - val_loss: 0.5473 - val_accuracy: 0.7326
Epoch 92/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7305 - val_loss: 0.5477 - val_accuracy: 0.7336
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7309 - val_loss: 0.5484 - val_accuracy: 0.7321
Epoch 94/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7305 - val_loss: 0.5479 - val_accuracy: 0.7346
Epoch 95/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7308 - val_loss: 0.5472 - val_accuracy: 0.7328
Epoch 96/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7307 - val_loss: 0.5473 - val_accuracy: 0.7359
Epoch 97/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7296 - val_loss: 0.5477 - val_accuracy: 0.7341
Epoch 98/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7303 - val_loss: 0.5474 - val_accuracy: 0.7334
Epoch 99/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7304 - val_loss: 0.5476 - val_accuracy: 0.7349
Epoch 100/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7309 - val_loss: 0.5471 - val_accuracy: 0.7336

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5542 - accuracy: 0.7290 - 354ms/epoch - 1ms/step
Loss: 0.5542369484901428, Accuracy: 0.7289795875549316

In [22]:
# Export our model to HDF5 file

from google.colab import files

nn.save('/content/AlphabetSoupCharity.h5')
files.download('/content/AlphabetSoupCharity.h5')